.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, fit-content(200px));
  grid-auto-rows: minmax(min-content, min-content);

  align-items: start;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
